@font-face {
    font-family: 'Montserrat Thin';
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Myriadpro Regular';
    src: url(../fonts/Myriadpro/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: 'Nunitosans Regular';
    src: url(../fonts/NunitoSans/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: 'Worksans Regular';
    src: url(../fonts/WorkSans/WorkSans-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Nunitosans Bold';
    src: url(../fonts/NunitoSans/NunitoSans-Bold.ttf);
}