@import 'fonts.css';

/* Root start */

:root {
    --mt100: 'Montserrat Thin';
    --mm500: 'Montserrat Medium';
    --mpro400: 'Myriadpro Regular';
    --nr400: 'Nunitosans Regular';
    --wr400: 'Worksans Regular';
    --black: #191919;
    --green: #007d2f;
    --rb500: 'Roboto Medium';
    --nb700: 'Nunitosans Bold';
}


a{
    text-decoration: none;
}
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a{
    margin: 0;
}

/* Root end */
/* ************************************ */


/* Header start */

.header__logo {
    margin-top: 17px;
    margin-bottom: 18px;
}

.nav__ul {
    margin-top: 45px;
}

.header__nav-link {
    font-family: var(--mm500);
    font-size: 12px;
    color: var(--black);
    text-transform: uppercase;
    margin-left: 33px;
    transition: color 300ms;
    cursor: pointer;
}
.header__nav-link:hover {
    color: var(--green);
}

/* Header end */
/* ********************************** */
/* Main start */

.main__container {
    background: #f6f6f6;
}

.fuck {
    width: 50%;
}

.main__info {
    width: 100%;
    height: 100%;
}

.main__info-img {
    width: 50%;
}

.main__img {
    width: 100%;
}

.main__info-title {
    font-family: var(--mm500);
    color: #171717;
    font-size: 38px;
    margin-top: 105px;
}

.main__info-text:first-of-type {
    font-family: var(--nr400);
    font-size: 16px;
    color: #787878;
    line-height: 24px;
    margin-top: 33px;
    margin-bottom: 34px;
}
.main__info-text:nth-of-type(2) {
    font-family: var(--nr400);
    font-size: 16px;
    color: #787878;
    line-height: 24px;
    margin-bottom: 60px;
}
.main__info-text:nth-of-type(3) {
    font-family: var(--nr400);
    font-size: 16px;
    color: #787878;
    line-height: 24px;
}
.main__info-text:nth-of-type(4) {
    font-family: var(--nr400);
    font-size: 16px;
    color: #787878;
    line-height: 24px;
}
.main__info-text:last-of-type {
    font-family: var(--nr400);
    font-size: 16px;
    color: #787878;
    line-height: 24px;
}

.main__span {
    font-family: var(--nb700);
    color: #171717;
    font-size: 16px;
}


.main__slider {
    background: var(--green);
}

.arrow {
    display: flex;
    justify-content: center;
}
/* Main end */
/* ********************************* */
/* Footer start */

/* Footer end */

.footer {
    background: black;
}

.footer__first-title {
    font-size: 18px;
    font-family: var(--mm500);
    color: white;
    line-height: 13px;
    margin-top: 100px;
    margin-bottom: 28px;
}

.footer__first-text:first-of-type {
    font-family: var(--mpro400);
    color: #bcbcbc;
    font-size: 15px;
    line-height: 24px;
}

.footer__first-text:last-of-type {
    font-family: var(--mpro400);
    color: #bcbcbc;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 100px;
}

.footer__second-text:first-of-type {
    font-family: var(--nr400);
    color: #bcbcbc;
    font-size: 15px;
    line-height: 20px;
}

.footer__second-text:last-of-type {
    font-family: var(--wr400);
    color: #bcbcbc;
    font-size: 15px;
    line-height: 20px;
}

.footer__item-link {
    font-family: var(--nr400);
    color: #bcbcbc;
    font-size: 15px;
    line-height: 14px;
    margin-bottom: 10px;
}

/* Footer media */

@media (max-width:992px) {
    .footer__item-link {
        font-size: 10px;
    }
    .footer__first-title {
        font-size: 14px;
    }
    .footer__first-text:first-of-type {
        font-size: 11px;
    }
    .footer__first-text:last-of-type {
        font-size: 13px;
    }
    .footer__second-text:first-of-type {
        font-size: 11px;
    }
    .footer__second-text:last-of-type {
        font-size: 12px;
    }
}

@media (max-width:767px) {
    .footer__first-title {
        font-size: 11px;
    }
    .footer__first-text:first-of-type {
        font-size: 8px;
    }
    .footer__first-text:last-of-type {
        font-size: 9px
    }
    .footer__second-text:first-of-type {
        font-size: 8px;
    }
    .footer__second-text:last-of-type {
        font-size: 9px;
    }
    .footer__item-link {
        font-size: 7px;
    }
}

@media (max-width:585px) {
    .footer__first-title {
        font-size: 6px;
    }
    .footer__first-text:first-of-type {
        font-size: 6px;
    }
    .footer__first-text:last-of-type {
        font-size: 7px
    }
    .footer__second-text:first-of-type {
        font-size: 6px;
    }
    .footer__second-text:last-of-type {
        font-size: 7px;
    }
    .footer__item-link {
        font-size: 5px;
    }
}

@media (max-width:350px) {
    .footer__first-text:first-of-type {
        font-size: 4px;
    }
}

/* Footer media */

/* Media start */

@media (max-width:1200px) {
    .main__info-title {
        margin-top: 40px;
    }
    .main__info-text:nth-of-type(2) {
        margin-bottom: 30px;
    }
    .main__info-text:first-of-type {
        margin-bottom: 23px;
    }
}

@media (max-width:992px) {
    .main__container {
        flex-wrap: wrap;
    }
    .fuck {
        width: 100%;
    }
    .main__info-img {
        width: 100%;
    }
}

@media (max-width:580px) {
    .main__info-title {
        font-size: 30px;
    }
}

@media (max-width:380px) {
    .main__info-text:first-of-type {
        font-size: 14px;
    }
    .main__info-text:nth-of-type(2) {
        font-size: 14px;
    }
    .main__info-text:nth-of-type(3) {
        font-size: 14px;
    }
    .main__info-text:nth-of-type(4) {
        font-size: 14px;
    }
    .main__info-text:last-of-type {
        font-size: 14px;
    }
    .main__span {
        font-size: 14px;
    }
}